body {
    background-color: #808B96;
    font-family: "comic sans ms";
}

h3 {
    font-size: 1.75rem;
    color: #FFFF;
    margin: 20px
}

H2 {
    color: #FFFF;
}

#app {
    margin-top: 30px;
    min-width: 700px
}

#menu {
    display: block;

}

body {
    text-align: center;
    background-color: #494D50;
    color: #7D8287;
}


#container-title {
    height: 130px;
    width: 260px;
    margin: 60px auto 70px;

}

#title-img {
    height: 200px;
}

#menu-panel {
    background-color: #232527;
    border-radius: 20px;
    margin: 0 auto;
    width: 700px;
}

#container-selec-quick {
    padding: 10px;
    display: block;
    margin-bottom: 30px;
    height: 100x;;
}

#button-1player, #button-2player {
    display: inline-block;
    vertical-align: top;
    width: 200px;
    padding: 14px 20px;
    margin: 5px;
    margin-top: 5px;
}

.btn {
    border: none;
    border-radius: 2px;
    transition:  background-color .1s, opacity .5s;
    margin: 5px;
    color: #c2c3c4;
    background-color: #1070c9;
}


.btn:hover {
    opacity: 0.80;
    cursor: pointer;
}

.btn:disabled, .btn[disabled]{
    opacity: 0.5;
    color: #9e9e9e;
    cursor: default;
}

.input-creat {
    background-color: rgba(0,0,0,.3);
    width: 420px;
    border: none;
    border-radius: 5px;
    margin: 5px;
    color: #7D8287;
}

#button-start-room {
    width: 430px;
    margin: 10px 0 30px;
}

#search-party {
    width: 580px;
}


#list-room {
    background-color: #2D2F32;
    border-radius: 5px;
    margin: 0 auto;
    width: 580px;
}

.name-list, .creat-list, .player-list {
    display: inline-block;

}

.name-list {
    width: 85px;
}

.creat-list {
    width: 230px;
}

.player-list {
    width: 140px;
}

#bord {
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    margin: 30px;
    background-color: #505050;
}

.caseBord {
    width: 50px;
    height: 50px;
    border: solid;
}

.caseNewPiece {
    width: 50px;
    height: 50px;
}

#container-party-solo {
    display: inline-flex;
    flex-flow: row wrap;
    text-align: center;

}

.content-bord-solo {
    right: 5px;
}

#info-party-solo, .content {
    display: block;
    height: 500px;
}

#next-piece-container {
    width: 300px;
    background-color: #505050;
    height: 200px;
}

#solo-next-piece {
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    padding: 0 50px 0;
}

#container-spectre-solo {
    width: 300px;
    height: 590px;
    background-color: #505050;
    display: flex;
    overflow: hidden;
    position: relative;
}

.case-spectre-solo {
    height: 20px;
    width: 20px;
}

#bord_display {
    /* position: relative; */
    height: 500px;
    width: 300px;

    /* animation: AutoSlide 5s infinite linear; */
}

#spectre-border-container {
    background-color: grey;
    margin: 0 auto;
    border: #18171b solid 1px;
    width: 200px;
    height: 500px;
    margin: 50px 50px 7px;
}

.wrapper-carrou {
    width: fit-content;
    display: flex;
    flex-flow: row;
    position: relative;
    animation: AniCarrou 5s infinite linear;
}

@keyframes AniCarrou {
    0% {
        transform: translateX(0);
    }
    99% {
        transform: translateX(-100%);

        /* right: 0px; */
    }
}
@keyframes AutoSlide {
	0%, 15% {
		transform: translateX(0);
	}
    100% {
		transform: translateX(-100%);
	}
}


.list_name_lobby {
    margin: 2px 0;
}

.container_option {
    display: block;
}

.name_option {
    display: inline-block
}

.check_option {
    margin-left: 10px;
}


#list-room .line-room:nth-child(2n) {
    background: #42464a;
}

.join-list {
    display: inline-block;
    width: 0px;
}
